{erl_opts,
 [{ platform_define
  , "(linux|freebsd|dragonfly|solaris|darwin)"
  , 'HAVE_SENDFILE'
  }]}.
{port_env, [ {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall"}
           , {"solaris", "LDFLAGS", "$LDFLAGS -lsendfile"}]}.
{port_specs, [{"priv/sendfile_drv.so",
               ["c_src/sendfile_drv.c","c_src/hashtable.c"]}]}.
{pc_clang_db, true}.
{plugins, [pc]}.
{artifacts, ["priv/sendfile_drv.so"]}.
{provider_hooks, [{pre,
                   [ {compile, {pc, compile}}
                   , {clean, {pc, clean}}
                   ]
                  }]}.
{eunit_opts, [verbose]}.
